@model List<Shoponline1.Models.menu> 

    @foreach (var item in Model)
    {
        <li>
            <a href="@ViewBag.meta/@item.meta" class="sf-with-ul">@item.name</a>

            <div class="megamenu megamenu-sm">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <div class="menu-col">
                            <div class="menu-title">Product Details</div><!-- End .menu-title -->
                            <ul>
                                <li><a href="product.html">Default</a></li>
                                <li><a href="product-centered.html">Centered</a></li>
                                <li><a href="product-extended.html"><span>Extended Info<span class="tip tip-new">New</span></span></a></li>
                                <li><a href="product-gallery.html">Gallery</a></li>
                                <li><a href="product-sticky.html">Sticky Info</a></li>
                                <li><a href="product-sidebar.html">Boxed With Sidebar</a></li>
                                <li><a href="product-fullwidth.html">Full Width</a></li>
                                <li><a href="product-masonry.html">Masonry Sticky Info</a></li>
                            </ul>
                        </div><!-- End .menu-col -->
                    </div><!-- End .col-md-6 -->

                    <div class="col-md-6">
                        <div class="banner banner-overlay">
                            <a href="category.html">
                                <img src="~/Assets/fontend/images/demos/demo-19/menu/banner-2.jpg" alt="Banner">
                            </a>
                        </div><!-- End .banner -->
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .megamenu megamenu-sm -->
        </li>
    } 
