@for (int i = 0; i < 10; i++)
{


    <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
        <div class="product product-3 text-center">
            <figure class="product-media">  
                <a href="@ViewBag.meta/@Model[i].meta">
                    <img src="~/Assets/fontend/images/demos/demo-22/products/@Model[i].img" alt="Product image" class="product-image">
                </a>

                <div class="product-action-vertical">
                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                </div><!-- End .product-action-vertical -->
            </figure><!-- End .product-media -->

            <div class="product-body"> 
                <h3 class="product-title"><a href="@ViewBag.meta/@Model[i].meta">@Model[i].name</a></h3><!-- End .product-title -->
                <div class="product-price">
                    <span class="new-price">$@Model[i].price</span> 
                </div><!-- End .product-price -->
            </div><!-- End .product-body -->

            <div class="product-footer">
                <div class="ratings-container">
                    <div class="ratings">
                        <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                    </div><!-- End .ratings -->
                    <span class="ratings-text">( 4 Reviews )</span>
                </div><!-- End .rating-container -->
             
                <div class="product-action">
                    <a href="#" class="btn-product btn-cart" title="Add to cart"></a>
                    <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"></a>
                </div><!-- End .product-action -->
            </div><!-- End .product-footer -->
        </div><!-- End .product -->
    </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
}
