
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<main class="main">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="intro-slider-container mt-2">
                    <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl"
                         data-owl-options='{
                                    "dots": true,
                                    "nav": true,
                                    "responsive": {
                                        "1200": {
                                            "nav": true,
                                            "dots": true
                                        }
                                    }
                                }'>

                        @* banner slider *@
                            @{Html.RenderAction("bannerSlider", "Banner");}
                        @* END banner slider *@



                    </div><!-- End .intro-slider owl-carousel owl-simple -->

                    <span class="slider-loader"></span><!-- End .slider-loader -->
                </div><!-- End .intro-slider-container -->
            </div>
            <div class="col-lg-4 banner">
                @* banner slider *@
                @{Html.RenderAction("banner2", "Banner");}
                @* END banner slider *@
            </div>
        </div>
    </div>

    <div class="container text-center shop">
        <h2 class="title mt-4 mb-5"> Shop by Brands </h2>
        <div class="owl-carousel mb-5 owl-simple" data-toggle="owl"
             data-owl-options='{
                        "nav": true,
                        "dots": false,
                        "margin": 30,
                        "loop": false,
                        "responsive": {
                            "0": {
                                "items":2
                            },
                            "420": {
                                "items":3
                            },
                            "600": {
                                "items":4
                            },
                            "900": {
                                "items":5
                            },
                            "1024": {
                                "items":6
                            }
                        }
                    }'>
            @*Brand shoping*@
                @{ Html.RenderAction("getBrand","Home");}
            @* END Brand shoping*@
        </div><!-- End .owl-carousel -->
    </div><!-- End .container -->

    <div class="featured-back" style="background-image: url(Assets/fontend/images/demos/demo-22/featured/background.jpg);">
        <div class="container">
            <div class="section-title">
                <ul class="nav nav-pills nav-border-anim" role="tablist">

                    <li class="nav-item">
                        <a class="nav-link active" id="tab-featured-link" data-toggle="tab" href="#tab-featured" role="tab" aria-controls="tab-featured" aria-selected="true"><span>Man</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-best-link" data-toggle="tab" href="#tab-best" role="tab" aria-controls="tab-best" aria-selected="false"><span>Woman</span></a>
                    </li> 
                </ul>


                <a class="link" href="#">All Categories Products</a>
            </div>

            <div class="row">
                @*Product by category*@
                @Html.Action("getProduct", "Home");
                @*END Product by category*@
            </div>

            <div class="mb-2"></div><!-- End .mb-6 -->
        </div><!-- End .container -->
    </div>
    @*email subriber*@
    <!--<div class="newsletter" style="background-image: url(Assets/fontend/images/demos/demo-22/newsLetter/background.jpg);">
        <div class="container">
            <div class="subscribe text-center">
                <div class="intro">
                    <h3 class="title">Subscribe for Our Newsletter</h3>
                    <h4 class="content">Learn about new offers and get more deals by joining our newsletter</h4>
                </div>
                <div class="subscribe action">
                    <form action="#">
                        <div class="input-group">
                            <input type="email" placeholder="Enter your Email Address" aria-label="Email Adress" required="">
                            <div class="input-group-append">
                                <button class="btn btn-subscribe" type="submit"><span>Subscribe now</span></button>
                            </div>-->
    <!-- .End .input-group-append -->
    <!--</div>--><!-- .End .input-group -->
    <!--</form>
                </div>
            </div>
        </div>
    </div>-->
    @*END email sub*@
    <div class="container banner-container">
        <div class="row">
            @* banner 3 *@
            @{Html.RenderAction("banner3", "Banner");}
            @* END banner 3 *@
             
        </div>
    </div>

    <div class="container service">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="icon-box icon-box-side">
                    <span class="icon-box-icon text-dark">
                        <i class="icon-rocket"></i>
                    </span>

                    <div class="icon-box-content">
                        <h3 class="icon-box-title">Free Shipping</h3><!-- End .icon-box-title -->
                        <p>Orders $50 or more</p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->
            </div><!-- End .col-sm-6 col-lg-4 -->

            <div class="col-sm-6 col-lg-3">
                <div class="icon-box icon-box-side">
                    <span class="icon-box-icon text-dark">
                        <i class="icon-rotate-left"></i>
                    </span>

                    <div class="icon-box-content">
                        <h3 class="icon-box-title">Free Returns</h3><!-- End .icon-box-title -->
                        <p>Within 30 days</p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->
            </div><!-- End .col-sm-6 col-lg-4 -->

            <div class="col-sm-6 col-lg-3">
                <div class="icon-box icon-box-side">
                    <span class="icon-box-icon text-dark">
                        <i class="icon-info-circle"></i>
                    </span>

                    <div class="icon-box-content">
                        <h3 class="icon-box-title">Get 20% Off 1 Item</h3><!-- End .icon-box-title -->
                        <p>When you sign up</p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->
            </div><!-- End .col-sm-6 col-lg-4 -->

            <div class="col-sm-6 col-lg-3">
                <div class="icon-box icon-box-side">
                    <span class="icon-box-icon text-dark">
                        <i class="icon-life-ring"></i>
                    </span>

                    <div class="icon-box-content">
                        <h3 class="icon-box-title">We Support</h3><!-- End .icon-box-title -->
                        <p>24/7 amazing services</p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->
            </div><!-- End .col-sm-6 col-lg-4 -->

        </div>
    </div>

    @*Category Product*@

    @*@{ Html.RenderAction("getCategory","Home"); }*@

    @*END Category Product*@


    <div class="container popular">
        <hr class="mb-5">

        <div class="section-title">
            <div><p class="title"><span>Popular Products</span></p></div>

            <a class="link" href="#">See All Products</a>
        </div>

        <div class="row products">

            <!-- product by brand-->

            @Html.Action("getProductByBrand", "Home")

            @*END product by brand*@

        </div><!-- End .row -->
    </div>
     

    <div class="container post">

        <div class="section-title">
            <div><p class="title"><span>Our Blog Posts</span></p></div>

            <a class="link" href="tin-tuc">See All Posts</a>
        </div>

        <div class="owl-carousel owl-simple mb-4" data-toggle="owl"
             data-owl-options='{
                        "nav": true,
                        "dots": false,
                        "items": 3,
                        "margin": 20,
                        "loop": false,
                        "responsive": {
                            "0": {
                                "items":1,
                                "dots":true
                            },
                            "520": {
                                "items":2,
                                "dots":true
                            },
                            "768": {
                                "items":3
                            }
                        }
                    }'>

            @*news post*@
            @{ Html.RenderAction("getNews", "Home"); }
            @*END news post*@
        </div><!-- End .owl-carousel -->

    </div>

</main>